// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.participants{

  h1 {text-align: center}

  table {
    margin-left: auto;
    margin-right: auto;

    width: 600px;}


  td {padding: 5px;
              vertical-align: center;
              height: 25px;
              text-align: left;}

  .actions {
            font-size: x-small;
            text-align: right;
            padding-left: 1em;
                        }
  dl {
    margin: 0;
    }

  .td {
    color: #244;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    }

 }
